<html>
    <head>
            <title>{{ title }}</title>
    </head>
    
    <body>
        <h1>
            {% if request.user.is_authenticated %}
                Welcome {{ request.user | capfirst }} !
            {% else %}
                <a href="{% url 'user_profile:login' %}"> Login </a>
                Welcome Learning Platform
            {% endif %}
        </h1>
        <h3>
            {% for name in data %}
             {{ forloop.counter }}   {{ name }}</br>
            {% empty %}
            <h4> no data to show </h4>
            {% endfor %}
        </h3>
    </body>
</html>